.movie-app-button {
    padding: 10px;
    margin: 10px 0;
    margin-right: 8px;
    border: 1px solid antiquewhite;
    border-radius: 8px;
    color: #fa9614;
    background: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .2px;
    box-shadow:  0 0 4px 0.1px #000;
    transition: all .4s ease-in-out;
}
.movie-app-button:hover, .active {
    cursor: pointer;
    background: #fa9614;
    color: #fff;
}
